@import "tailwindcss";
@theme {
  --color-primary: #1266d5;
  --color-secondary: #f5f5f5;
  --color-destructive: #cf2d00;
  --color-foreground: #2c2d30;
  --color-gray: #a4a4a4;
  --color-light-gray: #dadada;
  --color-slight-gray: #fafafa;
  --shadow-pc: 0 0 7px rgba(0, 0, 0, 0.1);
  --shadow-sp: 0 2px 5px rgba(0, 0, 0, 0.05);
}
body {
  color: var(--color-foreground);
}
